.resize-area {
  width: 95dvw;
  height: min-content;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  --frame-shadow-color: #00000099;
}

input {
  width: 5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.form-instruction {
  font-size: 1rem;
}

.dimensions-area {
  justify-self: center;
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: calc(var(--main-padding) / 4) 0;
  gap: 1rem;
}

.dimension-entry-area, .aspect-ratio-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--main-padding) / 4);
}

.aspect-ratio-display {
  grid-column-end: span 2;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.aspect-ratio-display > p:first-child {
  font-weight: bold;
}

.image-preview-area {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  background: #ff000033;
  gap: 1rem;
  width: 100%;
}

.image-preview {
  position: relative;
  outline: 1px solid rgba(255, 255, 255, 0.666);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 inset #00000044;
  border-style: solid;
  box-shadow: 0.5rem 0.5rem 0rem var(--frame-shadow-color);
  transition: all 100ms ease;
}

.upload-button-area {
  background-color: #00000044;
  text-align: center;
  padding: 1rem;
}

.d-ring {
  position: absolute;
  aspect-ratio: 0.25;
  background-color: #aaffaa99;
  top: 0;
}

.d-ring.left {
  transform-origin: top left;
  left: 0rem;
}

.d-ring.right {
  transform-origin: top right;
  right: 0rem;
}